@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    display: none;
}

:root{
    --main-content: #3A4665;
    --header: #424656;
    --content: #4F5568;
    --accent: #4b90f8;
    --text: #F3F9FF;
}

::placeholder {
    color: var(--text);
    opacity: 0.8;
}

input:focus::placeholder {
    opacity: 0.5;
}

nav {
    display: flex;
}

* {
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    transition: all 0.2s ease-in-out;
}

body {
    min-width: 100%;
    color: var(--text);
    background-color: #363A48;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

a {
    color: var(--accent);
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    z-index: 1;
    min-height: content;
}




/* Navbar */

.navbar {
    margin: 0 auto;
    min-width: 70%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    img {
        z-index: 1;
        max-width: 12.5rem;
        height: max-content;
    }
    ul {
        list-style: none;
        position: relative;
        li {
            padding: 25px 20px;
        }
        li:hover {
            background-color: var(--accent);
        }
    }
}

/* Banner for mobile device */
.bg-kivotos1 {
    display: none;
}

/* Banner for desktop */
.bg-kivotos {
    position: absolute;
    width: 100%;
    height: 500px;
    img {
        position: absolute;
        bottom: 1rem;
        width: 100%;
        background-image: linear-gradient(#363a4800,#363a48);
    }
}

.box-gradient{
    position: absolute;
    background-image: linear-gradient(#363a4800,#363a48,#363a48);
    width: inherit;
    bottom: 0;
    max-width: 100%;
    height: 60%;
}

/* Search bar */
#search{
    width: 100%;
    display: flex;
    align-items: center;
    input {
        color: var(--text);
        box-sizing: border-box;
        border-radius: 13px;
        padding: 1rem;
        border: 0;
        background-color: var(--header);
        width: 100%;
    }

    svg {
        position: relative;
        top: 2px;
    }
    input:hover{
        background-color: var(--content);
    }
    input:focus {
        border: 0px;
        outline: none;
        border-style: none;
    }
}

/* Navbar inside the main */
.navbar-page{
    position: relative;
    margin: 1rem 0;
    width: 100%;
}

.navbar-wrap {
    width: min-content;
    ul {
        display: flex;
        list-style: none;
        li{
            background-color: var(--header);
            text-align: center;
            width: 4rem;
            padding: 0.7rem;
        }

        li:first-child {
            border-radius: 13px 0 0 0;
        }

        li:last-child {
            border-radius: 0 13px 0 0;
        }

        li:hover{
            background-color: var(--accent);
        }
    }
}

hr {
    border: 0;
    height: 2px;
    outline: none;
    background-color: var(--content);
}

/* Overlay for the mainpage banner */
#overlay-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4b90f800;

}

#banner-wrapped {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    width: 100%;
}
#header-wrapped {
    position: relative;
    box-sizing: border-box;
    width: inherit;
    border-radius: 10px;
    background-image: url(assets/1537px-BG_CS_PV_03.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
    img {
        position: relative;
        height: 100px;
    }

    h2 {
        z-index: 1;
        margin-bottom: 1rem;
    }
}

/* main content */

.abt-row1{
    width: 100%;
}

.abt-content-box{
    z-index: 1;
    position: relative;
    width: 100%;
    .abt-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: inherit;
        height: 8rem;
    }

    .abt-banner .abt-bg{
        z-index: -1;
        position: absolute;
        width: inherit;
        height: inherit;
        border-radius: 10px;
        background-image: url(https://static.wikitide.net/bluearchivewiki/e/e7/BG_CS_Arona.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.6;
    }

    .abt-content{
        margin: 0.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-size: small;
        }
    }
}

#abtColTwo{
    max-width: 40%;
}

.abt-collum2-box{
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 13px;
    background-color: var(--content);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: inherit;
    height: min-content;
    gap: 10px;
}

.count-info {
    width: 100%;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        li {
            text-align: center;
            p {
                font-size: 1.6rem;
            }
        }
    }
}

.device-info{
    width: 100%;
}

.heading-text {
    display: flex;
    svg{
        margin: 0 1px;
        fill: white;
    }
}

.blue-button-wrap {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        list-style: none;
    }

    
}

a {
    opacity: 1;
    color: var(--text);
}

#ldPlayer{
    background-color: #1f1f1f;
}

#ldPlayer:hover{
    background-color: #282634;
    opacity: 1;
}

#ldPlayer::after{
    background-color: #ffca28
}
#ldPlayer::before{
    background-color: #cb9d00;
}


#socialX{
    background-color: #131313;
}

#socialX img{
    margin: 0 0.5rem;
    z-index: 9999;
    width: 1.5rem;
}

#socialX:hover{
    background-color: #1f1f1f;
    opacity: 1;
}

#socialX::after{
    background-color: #4b555c;
}
#socialX::before{
    background-color: #282634;
}

#socialWebOfficial{
    background-color: #004d67;
}

#socialWebOfficial:hover{
    background-color: #1e5269;
}

#socialWebOfficial:after{
    background-color: #9DAB00;
}
#socialWebOfficial::before{
    background-color: #778800;
}


.blue-button{
    height: 1.5rem;
    overflow: hidden;
    padding: 1rem 1rem;
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: var(--accent);
    img{
        position: absolute;
        margin: 0 0.5rem;
        z-index: 9999;
        width: 4.5rem;
    }
}

.blue-button:hover{
    background-color: #5a9bfd;
    opacity: 1;
}

.blue-button::after{
    transition: all;
    content: " ";
    filter: brightness(1);
    height: 100%;
    width: 20%;
    background-color: #66a1fa;
    position: absolute;
    transform: skew(-30deg);
    transition: all 0.3s ease-in-out;
    right: 0;
    z-index: 2;
}

.blue-button::before{
    transition: all;
    content: " ";
    filter: brightness(1);
    height: 100%;
    width: 20%;
    background-color: #227bff;
    position: absolute;
    transform: skew(-30deg);
    transition: all 0.3s ease-in-out;
    right: -1.5rem;
    z-index: 3;
}

.blue-button:hover::after{
    content: " ";
    filter: brightness(1.1);
    height: 100%;
    width: 25%;
    background-color: #66a1fa;
    position: absolute;
    transition: all 0.3s ease-in-out;
    right: 2rem;
    z-index: 2;
}

.blue-button:hover::before{
    content: " ";
    filter: brightness(1.1);
    height: 100%;
    width: 30%;
    background-color: #227bff;
    position: absolute;
    transition: all 0.3s ease-in-out;
    right: -1rem;
    z-index: 3;
}

.char-row-2{
    height: min;
    width: 100%;
}

#gameMechanics {
    padding: 1rem 0 3rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.game-mech-1 {
    display: flex;
    flex-direction: column;
    width: min-content;
    img {
        width: 8rem;
    }
}

.students-container{
    max-width: 100%;
}

.student-info-wrap{
    padding: 1rem 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--content);
    width: 15rem;
    height: min-content;
    img {
        margin: 1rem;
        width: 8rem;
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    table {
        border: 2px solid #004d67;
    }
    table tr td img {
        border: 2px solid #004d67;
        width: 3rem;
    }
}

#margin-cont {
    width: 90%;
}

#main-content{
    margin-top: 2rem;
    max-width: 65rem;
    height: inherit;
    background-color: var(--main-content);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    
}

#main-content h2{
    box-sizing: border-box;
    width: 100%;
    padding: 1.5rem 4.5rem;
    background-color: var(--header);
    border-radius: 13px 13px 0 0;

}

.content-container {
    gap: 10px;
    min-height: 10rem;
    max-width: 100%;
    margin: inherit;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.collum-1{
    display: flex;
    height: min-content;
    width :100%;
    gap: 10px;
}

.collum-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: min-content;
    width: 40%;
}

.content-box {
    border-radius: 13px;
    background-color: var(--content);
    width: 100%;
    text-align: center;
}

.content-box h4 {
    font-weight: 500;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: inherit;
    background-color: var(--header);
}

.content-box div{
    justify-content: center;
    display: flex;
    gap: 5px;
    
}

.btn-wrapped{
    padding: 1rem 0;
    margin: 0 auto;
}

.content-box button{
    width: 2rem;
    background-color: var(--header);
    border: 0;
    padding: 5px;
    border-radius: 5px;
    color: var(--text);
}

.content-box button:hover{
    background-color:var(--accent) ;
}

.post-wrapped{
    padding: 10px;
    margin: 0;
    position: relative;
    box-sizing: content-box;
}

.post-wrapped .twitter-timeline {
    margin: 0;
    padding: 0;

}

#postGl{
    padding: 0;
    display: flex;
}

#postJp{
    padding: 0;
    display: none;
}

#gachaBannerGl {
    display: flex;
    flex-direction: column;
}

#gachaBannerJp{
    display: none;
    flex-direction: column;
}

#raidGl {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

#raidJp {
    padding: 0.5rem;
    display: none;
    flex-direction: column;
}

#eventInfoGl {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

#eventInfoJp {
    display: none;
    flex-direction: column;
}

.content-wrapper {
    margin: 1rem 0;
}

.content {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        max-width: 15rem;
    }
    ul {
        max-width: 16rem;
        list-style-position: inside;
    }
}

.raid-content {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        position: relative;
        top: -10px;
        width: min-content;
    }

    ul {
        position: relative;
        align-items: center;
        list-style-image: url(https://static.wikitide.net/bluearchivewiki/thumb/6/6d/Icon_location_outdoors.png/24px-Icon_location_outdoors.png);
        list-style-position: inside;
        p {

            position: relative;
            bottom: 5px;
        }
        }
}


/* footer */
footer {
    padding: 1rem 0;
    background-color: var(--header);
}

footer p {
    color: var(--text);
    font-size: 10px;
    text-align: center;
}

footer h1 {
    color: var(--text);
    text-align: center;
    font-size: 17px;
}

footer a {
    color: var(--text);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer i {
    color: #3b3b3b;
}

.abt-row1 {
    display: flex;
    gap: 15px;
}

.navbar {
    display: none;
}

@media screen and (max-width: 1079px) and (min-width: 400px){
    .sidebar {
        z-index: 1;
        box-sizing: border-box;
        width: 100%;
        background-color: var(--header);
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        top: -20rem;
        label {
            padding: 1rem;
        }
        ul {
            list-style: none;
            li {
                padding: 1rem 1.5rem;
            }
            li:hover {
                background-color: var(--accent);
            }
        }
    }

    #activate {
        display: none;
    }

    #activate:checked ~ .sidebar {
        top: 0;
    }

    .bg-kivotos {
        display: none;
    }

    .banner-kivotos{
        height: 250px;
        min-width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img {
            width: 20rem;
        }
    }

    .bg-kivotos1 {
        z-index: -9999;
        position: absolute;
        display: block;
        background-image: url(assets/kivotos.png);
        background-position:center;
        opacity: 0.5;
        width: 100%;
        height: inherit;
    }

    #main-content{
        margin: 0;
        max-width: 100%;
        height: inherit;
        background-color: var(--main-content);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;

        h2 {
            border-radius: 0;
        }
        
    }

    .navbar {
        z-index: 10;
        display: flex;
        background-color: var(--main-content);
        margin: 0 auto;
        padding: 0 1rem;
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        justify-content:space-between;
        svg {
            position: relative;
            top: 5px;
        }
        img {
            max-width: 7rem;
            padding: 1rem 0;
            height: max-content;
        }
        .navbar-cont {
            display: none;
            list-style: none;
            position: relative;
        } 

        .navbar-contli {
            padding: 25px 20px;
        }

        .navbar-cont li:hover {
            background-color: var(--main-content);
        }
    }
    #search {
        margin: 1rem 0;
    }

    #header-wrapped {
        display: none;
    }
}

@media (min-width:1080px){
    main {
        margin: 0 1rem;
    }
    .navbar {
        display: flex;
    }
    .navbar ul{
        display: flex;
    } 
    .collum-1{
        flex-direction: row;
    }

    .banner-kivotos{
        display: none;
    }
    .sidebar {
        display: none;
    }
}

@media screen and (max-width: 1079px) and (min-width: 1001px){
    .sidebar {
        z-index: 1;
        box-sizing: border-box;
        width: 100%;
        background-color: var(--header);
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        top: -20rem;
        label {
            padding: 1rem;
        }
        ul {
            list-style: none;
            li {
                padding: 1rem 1.5rem;
            }
            li:hover {
                background-color: var(--accent);
            }
        }
    }

    #activate {
        display: none;
    }

    #activate:checked ~ .sidebar {
        top: 0;
    }

    .bg-kivotos {
        display: none;
    }

    .banner-kivotos{
        height: 250px;
        min-width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img {
            width: 20rem;
        }
    }

    .bg-kivotos1 {
        z-index: -9999;
        position: absolute;
        display: block;
        background-image: url(assets/kivotos.png);
        background-position:center;
        opacity: 0.5;
        width: 100%;
        height: inherit;
    }

    #main-content{
        margin: 0;
        max-width: 100%;
        height: inherit;
        background-color: var(--main-content);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;

        h2 {
            border-radius: 0;
        }
        
    }

    .navbar {
        z-index: 10;
        display: flex;
        background-color: var(--main-content);
        margin: 0 auto;
        padding: 0 1rem;
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        justify-content:space-between;
        svg {
            position: relative;
            top: 5px;
        }
        img {
            max-width: 7rem;
            padding: 1rem 0;
            height: max-content;
        }
        .navbar-cont {
            display: none;
            list-style: none;
            position: relative;
        } 

        .navbar-contli {
            padding: 25px 20px;
        }

        .navbar-cont li:hover {
            background-color: var(--main-content);
        }
    }

    #search {
        margin: 1rem 0;
    }

    #header-wrapped {
        display: none;
    }

    .navbar-page {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .content-container{
        align-items: start;
    }
    .collum-1{
        max-width: 100%;
        display: flex;
        min-height: auto;
        gap: 15px;
    }
    
    .collum-2 {
        max-width: 100%;
        display: flex;
        gap: 15px;
    }

    .content-box {
        border-radius: 13px;
        background-color: var(--content);
        max-width: 100%;
        max-height: 100%;
    }
    .abt-row1 {
        width: inherit;
        display: flex;
        gap: 15px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 890px) {
    .collum-1 {
        flex-direction: column;
    }
    .content-container{
        align-items: start;
    }
}
@media screen and (max-width: 890px) and (min-width: 401px) {

    .content-container{
        flex-direction: column;
        align-items: start;
    }
    .collum-1 {
        flex-direction: column;
    }
    .collum-2 {
        min-width: 100%;
    }
    .abt-row1 {
        width: inherit;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

@media screen and (max-width: 400px){
    .sidebar {
        z-index: -1;
        box-sizing: border-box;
        width: 100%;
        background-color: var(--header);
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        top: -20rem;
        label {
            padding: 1rem;
        }
        ul {
            list-style: none;
            li {
                padding: 1rem 1.5rem;
            }
            li:hover {
                background-color: var(--accent);
            }
        }
    }

    #activate {
        display: none;
    }

    #activate:checked ~ .sidebar {
        top: 0;
    }


    .bg-kivotos {
        display: none;
    }
    .abt-row1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .banner-kivotos{
        min-width: 100%;
        height: 250px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img {
            width: 20rem;
        }
    }

    .bg-kivotos1 {
        z-index: -9999;
        position: absolute;
        display: block;
        background-image: url(assets/kivotos.png);
        background-position:center;
        opacity: 0.5;
        width: 100%;
        height: inherit;
    }

    #main-content{
        margin: 0;
        max-width: 100%;
        height: inherit;
        background-color: var(--main-content);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0;

        h2 {
            border-radius: 0;
        }
        
    }

    .navbar {
        z-index: 10;
        background-color: var(--main-content);
        margin: 0 auto;
        padding: 0 1rem;
        display: flex;
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        justify-content:space-between;
        svg {
            position: relative;
            top: 5px;
        }
        img {
            max-width: 7rem;
            padding: 1rem 0;
            height: max-content;
        }
        .navbar-cont {
            display: none;
            list-style: none;
            position: relative;
        } 

        .navbar-contli {
            padding: 25px 20px;
        }

        .navbar-cont li:hover {
            background-color: var(--main-content);
        }
    }
    #search {
        margin: 1rem 0;
    }

    #header-wrapped {
        display: none;
    }
    .navbar-page {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-container{
        align-items: center;
        flex-direction: column;
    }
    .collum-1{
        min-width: 100%;
        display: flex;
        flex-direction: column;
        min-height: auto;
        gap: 15px;
    }

    .collum-2{
        min-width: 100%;
        display: flex;
        flex-direction: column;
        min-height: auto;
        gap: 15px;
    }
    

    .content-box {
        border-radius: 13px;
        background-color: var(--content);
        min-width: 100%;
        height: 100%;
    }


}

.overlay-black {
    position: absolute;
    top: 4rem;
    z-index: 9999;
    width: 100%;
    height: 10000%;
    background-color: #131313;
}