@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    display: none;
}

:root{
    --main-content: #3A4665;
    --header: #424656;
    --content: #4F5568;
    --accent: #4b90f8;
    --text: #F3F9FF;
}

::placeholder {
    color: var(--text);
    opacity: 70%;
}

nav {
    display: flex;
}

* {
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    transition: all 0.2s ease-in-out;
}

body {
    min-width: 100%;
    color: var(--text);
    background-color: #363A48;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

a {
    color: var(--accent);
    text-decoration: none;
}

main {
    min-height: content;
    margin: 0 auto ;
    z-index: 10;
    width: 100%;
}

nav {
    margin: 0 auto;
    min-width: 70%;
    align-items: center;
    justify-content:space-between;
}

nav img {
    z-index: 10;
    max-width: 12.5rem;
    height: max-content;
}

nav ul {
    display: flex;
    list-style: none;
    position: relative;
}

nav ul li {
    padding: 25px 20px;
}

nav ul li:hover {
    background-color: var(--accent);
}

.bg-kivotos1 {
    display: none;
}

.bg-kivotos {
    position: absolute;
    width: 100%;
    height: 500px;
    img {
        position: absolute;
        bottom: 1rem;
        width: 100%;
        background-image: linear-gradient(#363a4800,#363a48);
    }
}

.box{
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(#363a4800,#363a48,#363a48);
    width: inherit;
    bottom: 0;
    max-width: 100%;
    height: 60%;
}

#search{
    width: 100%;
    display: flex;
    align-items: center;
    input {
        color: var(--text);
        box-sizing: border-box;
        border-radius: 13px;
        padding: 1rem;
        border: 0;
        background-color: var(--header);
        width: 100%;
    }

    svg {
        position: relative;
        top: 2px;
    }
    input:hover{
        background-color: var(--content);
    }
    input:focus {
        border: 0px;
        outline: none;
        border-style: none;
    }
}

.navbar-page{
    margin: 1rem 0;
    width: inherit;
    ul {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        width: min-content;
        background-color: var(--header);
        display: flex;
        list-style: none;
        li {
            text-align: center;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            width: 4rem;
            padding: 0.7rem;
        }
        li:hover{
            background-color: var(--accent);
        }
    }
    hr {
        outline: none;
        border: 1px solid var(--content);
    }
}

#overlay-header {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4b90f800;

}
#headerWrapped {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    width: 100%;
}
#header {
    position: relative;
    box-sizing: border-box;
    width: inherit;
    border-radius: 10px;
    background-image: url(assets/1537px-BG_CS_PV_03.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
    img {
        position: relative;
        height: 100px;
    }

    h2 {
        margin-bottom: 1rem;
    }
}

/* main content */

.abt-content-box{
    z-index: 1;
    position: relative;
    width: 100%;
    .abt-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: inherit;
        height: 8rem;
    }

    .abt-banner .abt-bg{
        z-index: -1;
        position: absolute;
        width: inherit;
        height: inherit;
        border-radius: 10px;
        background-image: url(https://static.wikitide.net/bluearchivewiki/e/e7/BG_CS_Arona.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.6;
    }

    .abt-content{
        margin: 0.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#margin-cont {
    width: 90%;
}

#main-content{
    margin-top: 2rem;
    max-width: 100%;
    height: inherit;
    background-color: var(--main-content);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    
}

#main-content h2{
    box-sizing: border-box;
    width: 100%;
    padding: 1.5rem 4.5rem;
    background-color: var(--header);
    border-radius: 13px 13px 0 0;

}

.content-container {
    gap: 10px;
    min-height: 20rem;
    max-width: 100%;
    margin: inherit;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.collum-1{
    display: flex;
    height: min-content;
    width :100%;
    gap: 10px;
}

.collum-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: min-content;
    width: 40%;
}

#abt-content {
    h5 {
       
        box-sizing: border-box;
        padding: 1rem 0 0 0;
        font-size: larger;
    }
}

.content-box {
    
    border-radius: 13px;
    background-color: var(--content);
    width: 100%;
    text-align: center;
}

.box-wrap {
    z-index: -1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
    .box-content{
        z-index: 1;
        position: relative;
        margin: 2px 0;
        border-radius: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: left;
        padding: 1rem;
        background-color: var(--accent);
        .triangle {
            z-index: -1;
            opacity: 0;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 20%;
            height: 100%;
            border-radius: 0 10px 10px 0;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
        }
    }

    .box-content:hover{
        .triangle{
            opacity: 0.5;
            width: 100%;
        }
    }
}

.content-box h4 {
    font-weight: 500;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: inherit;
    background-color: var(--header);
}

.content-box div{
    justify-content: center;
    display: flex;
    gap: 5px;
    
}

.btnWrapped{
    padding: 1rem 0;
    margin: 0 auto;
}

.content-box button{
    width: 2rem;
    background-color: var(--header);
    border: 0;
    padding: 5px;
    border-radius: 5px;
    color: var(--text);
}

.content-box button:hover{
    background-color:var(--accent) ;
}

.postWrapped{
    padding: 10px;
    margin: 0;
    position: relative;
    box-sizing: content-box;
}

.postWrapped .twitter-timeline {
    margin: 0;
    padding: 0;

}

#postGl{
    padding: 0;
    display: flex;
}

#postJp{
    padding: 0;
    display: none;
}

#boxBanner1 {
    display: flex;
    flex-direction: column;
}

#boxBanner2{
    display: none;
    flex-direction: column;
}

#raidGl {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

#raidJp {
    padding: 0.5rem;
    display: none;
    flex-direction: column;
}

#eventInfoGl {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

#eventInfoJp {
    display: none;
    flex-direction: column;
}

.bannerWrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    img {
        max-width: 16rem;
    }
    ul {
        max-width: 16rem;
        list-style-position: inside;
    }
}

#raid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2.5rem;
    img {
        width: min-content;
    }

    ul {
        position: relative;
        align-items: center;
        list-style-image: url(https://static.wikitide.net/bluearchivewiki/thumb/6/6d/Icon_location_outdoors.png/24px-Icon_location_outdoors.png);
        list-style-position: inside;
        p {

            position: relative;
            bottom: 5px;
        }
        }
}


/* footer */
footer {
    padding: 1rem 0;
    background-color: var(--header);
}

footer p {
    color: var(--text);
    font-size: 10px;
    text-align: center;
}

footer h1 {
    color: var(--text);
    text-align: center;
    font-size: 17px;
}

footer a {
    color: var(--text);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer i {
    color: #3b3b3b;
}

@media (min-width: 1271px){
    .collum-1{
        flex-direction: row;
    }
}

@media (max-width: 1270px){
    .collum-1{
        flex-direction: column;
    }
}

@media (min-width: 1001px){
    main {
        max-width: 80%;
    }
    nav {
        width: 80%;
    }

    .banner-kivotos{
        display: none;
    }
}

@media (max-width: 1000px) and (min-width: 901px){
    main {
        max-width: 90%;
    }
    nav {
        width: 90%;
    }
    .banner-kivotos{
        display: none;
    }
}

@media (max-width: 900px) and (min-width:811px){
    main {
        max-width: 100%;
    }
    nav {
        width: 95%;
    }
    .banner-kivotos{
        display: none;
    }

}

@media screen and (max-width: 810px) and (min-width: 400px){
    .bg-kivotos {
        display: none;
    }

    .banner-kivotos{
        height: 250px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img {
            width: 20rem;
        }
    }

    .bg-kivotos1 {
        z-index: -9999;
        position: absolute;
        display: block;
        background-image: url(assets/kivotos.png);
        background-position:center;
        opacity: 0.5;
        width: 100%;
        height: inherit;
    }

    #main-content{
        margin: 0;
        max-width: 100%;
        height: inherit;
        background-color: var(--main-content);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0;

        h2 {
            border-radius: 0;
        }
        
    }

    nav {
        z-index: 10;
        display: flex;
        background-color: var(--main-content);
        margin: 0 auto;
        padding: 0 2rem;
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        justify-content:space-between;
    }
    
    nav img {
        z-index: 10;
        max-width: 9rem;
        height: max-content;
    }
    
    nav ul {
        display: flex;
        list-style: none;
        position: relative;
    }
    
    nav ul li {
        padding: 25px 20px;
    }
    
    nav ul li:hover {
        background-color: var(--main-content);
    }

    #search {
        margin: 1rem 0;
    }

    #headerWrapped {
        display: none;
    }
    .navbar-page {
        width: 100%;
        justify-content: center;
        ul {
            margin-right: auto;
            margin-left: auto;
        }
    }
    .content-container{
        align-items: center;
        flex-direction: column;
    }
    .collum-1{
        min-width: 100%;
        display: flex;
        flex-direction: column;
        min-height: auto;
        gap: 15px;
    }
    
    .collum-2 {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .content-box {
        border-radius: 13px;
        background-color: var(--content);
        min-width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 400px){
    .bg-kivotos {
        display: none;
    }

    .banner-kivotos{
        height: 250px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img {
            width: 20rem;
        }
    }

    .bg-kivotos1 {
        z-index: -9999;
        position: absolute;
        display: block;
        background-image: url(assets/kivotos.png);
        background-position:center;
        opacity: 0.5;
        width: 100%;
        height: inherit;
    }

    #main-content{
        margin: 0;
        max-width: 100%;
        height: inherit;
        background-color: var(--main-content);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0;

        h2 {
            border-radius: 0;
        }
        
    }

    nav {
        z-index: 10;
        display: flex;
        background-color: var(--main-content);
        margin: 0 auto;
        padding: 0 2rem;
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        justify-content:space-between;
    }
    
    nav img {
        z-index: 10;
        max-width: 9rem;
        height: max-content;
    }
    
    nav ul {
        display: flex;
        list-style: none;
        position: relative;
    }
    
    nav ul li {
        padding: 25px 20px;
    }
    
    nav ul li:hover {
        background-color: var(--main-content);
    }

    #search {
        margin: 1rem 0;
    }

    #headerWrapped {
        display: none;
    }
    .navbar-page {
        width: 100%;
        justify-content: center;
        ul {
            margin-right: auto;
            margin-left: auto;
        }
    }
    .content-container{
        align-items: center;
        flex-direction: column;
    }
    .collum-1{
        min-width: 100%;
        display: flex;
        flex-direction: column;
        min-height: auto;
        gap: 15px;
    }
    
    .collum-2 {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .content-box {
        border-radius: 13px;
        background-color: var(--content);
        min-width: 100%;
        height: 100%;
    }


}